body {
    color: #3d3d3d;
    background-color: #fbfafa ;
}

/* Custom properties */
.row .col.s6 {
    margin-left: 0;
}

.custom-margin {
    margin: 1.9466666667rem 0;
}

.bottom-margin {
    margin-bottom:1.9466666667rem;
}

.no-bottom-margin {
    margin-bottom:0;
}

.no-top-margin {
    margin-top:0;
}

.lg-margin-top {
    margin-top:60px;
}

.flash-margin {
    margin-right:50px;
    margin-left:50px;
    margin-top: 5rem;
    margin-bottom:.912rem
}

.underline {
    text-decoration: underline;
}

.word-wrap {
    word-wrap: break-word;
}

.bold {
    font-weight: 600;
}

.larger {
    font-size: 1.3em;
}

.form-container {
    padding: 20px;
}

.padding-top {
    padding-top:40px;
}

.margin-center {
    margin: 0 auto;
}

.right-float {
    float:right;
}

.profile-margin {
    margin-bottom:100px;
}

.row .col.no-padding-left {
    padding-left:0;
}

.flex-col {
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
}

.btn-large {
    padding:0;
}

.btn-large:hover {
    background-color: #913f39;
    color:#e8e7d1;
    border: 1px solid #e8e7d1;
}

.btn-large:focus {
    background-color: #913f39;
    border: 1px solid #e8e7d1;
}

.flex-self {
    display: inline-block;
    align-self: flex-end;
}

.select-wrapper li {
    background-color: #fff;
}

.select-wrapper li span {
    color:#913f39;
}

/* Colors */
.vegan-color {
    color: #689f38;
}

.black-color {
    color:#000000
}

.main-background {
    background-color: #913f39;
}

.main-color {
    color: #913f39;
}

.border-color {
    border: 1px solid #913f39;
    background-color:#fff;
    box-shadow:none;
}

/* Navbar and sidenav */
nav .brand-logo, .dropdown-content li a, nav ul a {
    color:#e8e7d1;
}

.dropdown-content li a, nav ul a:hover {
    background-color: #e8e7d1;
    color:#913f39;
}

.dropdown-content li a:hover{
    background-color: #913f39;
    color:#e8e7d1;
}

nav .nav-wrapper {
    padding: 0 15px;
}

.nav-btn {
    margin-top:13px;
    background-color: #689f38;
}

.nav-btn:hover {
    background-color: #33691e;
}

.nav-btn:focus {
    background-color: #689f38;
}

.sidenav h4 {
    color:#e8e7d1;
}

.sidenav li a {
    color:#e8e7d1;
}

.sidenav li a:hover {
    background-color: #e8e7d1;
    color:#913f39;
}

/* Register form */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}

/* Home page*/
.add-filter-btn {
    color:#3d3d3d;
    margin-top:50px;
    min-width: 180px;
    text-transform:capitalize;
    box-shadow:none;
    border: 1px solid #913f39;
    background-color: #fff;
}

.add-filter-btn i {
    font-size:80%;
}

/*pagination*/
.pagination-page-info {
    padding: 1em 1em 0 1em;
    padding-left: 0;
    width: 40em;
    font-size: 10px;
    display: inline-block;
    align-self: flex-end;
}

.pagination-page-info b {
    color: black;
    background: #fbfafa;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

.pagination li.active {
    font-weight: bold;
    background-color: #fbfafa
}

.pagination li.active a {
    color:black;
}

/* Recipe panel */
.recipe-panel {
    padding:12px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:none;
    border: 1px solid #913f39;
}

.recipes-title {
    font-size:20px;
}

.edit-btn {
    min-width:75px;
}

.delete-btn {
    min-width:75px;
}

.recipe-details {
    display:flex;
    align-items: center;
}

.vg-icon{
    color:#64dd17;
    padding-left: 10px;
}

.protein-icon{
    padding-left: 10px;
}

.like-form-margin {
    margin: 5px 0 5px 10px;
}

.like-icon {
    color: red;
}

.like-text {
    color:red;
}

.like-btn {
    background-color: transparent;
    border: none;
    cursor:pointer;
}

.like-btn:focus {
    outline: none;
    background-color: transparent;
}

.comment-link {
    margin-left:10px;
    color:#3d3d3d;
}

.modal .modal-content {
    padding: 24px 48px;
}

/* Add recipe page */
.input-field>label, .multiple-span {
    color: #913f39;
    font-size:16px;
    padding-left: 4px;
}

.multiple-small {
    padding-left: 4px;
}


[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    border: 2px solid #913f39;
}

[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid #913f39;
    border-bottom: 2px solid #913f39;
}

.add-recipe-btn {
    width:100%;
    height:55px;
}

select {
    background-color: #fff;
    border: None;
    border-bottom: 1px solid #9e9e9e;
    padding-left:0;
    font-size:16px;
    color:#913f39;
}

select:focus {
    outline: 1px solid #fff;
}

.select-dropdown {
    color:#913f39;
}

.select-wrapper input.select-dropdown {
    padding-left:4px;
}

.select-wrapper .caret {
    fill: #913f39;
}

.select option {
    color:#913f39;
}

.select2-container {
    width:100%;
}

.select2-results__option {
    color: #913f39;
}

.select2-container--default .select2-results__option--selected {
    background-color: #913f39;
    color:#fff;
}

/* Filter page */
.cancel-btn {
    width:49%;
}

.apply-btn {
    width:49%;
    float:right;
}

/** Filter results **/
.filter-list {
    padding-left: 21px;
}

/* Profile page */
.profile-panels {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px 0 20px 0;
}

.profile-btn {
    background-color:#fff;
    color:#913f39;
}

.profile-btn:hover {
    background-color:#fff;
    color:#913f39;
}

.profile-btn:focus {
    background-color:#fff;
    color:#913f39;
}

.profile-btn-2 {
    background-color:#913f39;
    color:#fff;
}

.profile-btn-2:hover {
    background-color:#913f39;
    color:#fff;
}

.profile-btn-2:focus {
    background-color:#913f39;
    color:#fff;
}

/* Recipe page */
.recipe-container h5 {
    color:#913f39;
}

.recipe-ul {
    text-align: -webkit-center;
}

ul:not(.browser-default)>.recipe-li {
    list-style-type: disc;
    width: fit-content;
}

h3 span {
    font-size: 0.5em;
}

.recipe-image {
    height:500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Recipes by meal types pages */
.meal-type-header {
    margin: 20px 0 40px 0;
}

.quick-title {
        margin-right:50px;
    }

/* Recipes by country */
.country-margin {
    margin-left: 40px;
    margin-bottom: 15px;
}

.country-title {
    margin-top:50px;
}

/* Errors */
.error-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
}

.image-error-text {
    height:500px;
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Media queries */
@media (min-width:990px) and (max-width:1031px) {
    .edit-btn {
       margin-bottom:5px;
    }
}


@media (max-width:849px) {
    .edit-btn {
       margin-bottom:5px;
    }
}

@media (max-width:750px) {
    .add-filter-btn {
        min-width: 150px;
    }

    .block {
        display:block;
    }
}

@media (max-width:700px) {
    .recipe-image {
        height: 450px;
    }

    .image-error-text {
        height: 450px;
    }
}

@media (max-width:600px) {
    .small-margin {
       margin-bottom:0;
    }

    .recipe-image {
        height: 400px;
    }

    .image-error-text {
        height: 400px;
    }
}

@media (max-width:522px) {
    .recipe-image {
        height: 350px;
    }

    .image-error-text {
        height: 350px;
    }
}

@media (max-width:500px) {
    .small-modal-text {
        font-size:20px;
    }

    .modal .modal-footer {
        text-align:center;
    }

    .add-filter-btn {
        min-width: 130px;
    }

    .recipe-details {
        display:block;
    }

    .like-form-margin {
        margin: 5px 0;
    }

    .like-btn {
        padding:0;
    }
}

@media (max-width:470px) {
    nav .brand-logo {
        font-size:25px;
    }

    .quick-title {
        margin-top:50px;
    }
}

@media (max-width:450px) {
    .recipe-image {
        height: 300px;
    }

    .image-error-text {
        height: 300px;
    }
}

@media (max-width:390px) {
    nav .brand-logo {
        font-size:22px
    }

    .add-filter-title {
        display:none;
    }

    .add-filter-btn {
        min-width: 56px;
        height:56px;
        border-radius: 50%;
    }

    .add-filter-btn i {
        font-size:100%;
    }

    .recipe-image {
        height: 250px;
    }

    .image-error-text {
        height: 250px;
    }

    .edit-btn {
        min-width: 50px;
        font-size: 10px;
        padding:0;
    }

    .delete-btn {
        min-width: 50px;
        font-size: 10px;
        padding:0;
    }

    .pagination-page-info {
        font-size: 8px;
    }
}

@media (max-width:360px) {
    nav .brand-logo {
        font-size:20px;
    }
}

@media (max-width:340px) {
    .recipe-image {
        height: 200px;
    }

    .image-error-text {
        height: 200px;
    }

    .small-error-first {
        font-size: 30px;
    }

    .small-error-second {
        font-size: 20px;
    }
}

@media (max-width:285px) {
    nav .brand-logo {
        font-size:15px;
    }
}