<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Recipe Cookbook</title>
</head>
<body>

    <header>
        <nav class="yellow accent-3">
            <div class="nav-wrapper">
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
                <a href="{{ url_for('get_recipes') }}" class="brand-logo">Recipe <span class="vegan-color">Cookbook</span></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('get_recipes') }}">Home</a></li>
                    <li><a href="collapsible.html">Dashboard</a></li>
                    {% if session.user_session %}
                        <li><a href="mobile.html">Profile</a></li>
                        <li><a href="mobile.html">Log Out</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}">Log in</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
                <!-- Dropdown Trigger -->
                <a class='dropdown-trigger btn nav-btn right hide-on-med-and-down' href='#' data-target='dropdown1'>Quick search</a>

                <!-- Dropdown Structure -->
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a href="badges.html">Starters</a></li>
                    <li><a href="collapsible.html">Brunch</a></li>
                    <li><a href="mobile.html">Lunch</a></li>
                    <li><a href="mobile.html">Dinner</a></li>
                    <li><a href="mobile.html">Desserts</a></li>
                    <li><a href="mobile.html"><span class="vegan-color">Vegan</span></a></li>
                    <li><a href="mobile.html">By country</a></li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li><h4 class="center-align">Recipe <span class="vegan-color">Cookbook</span></h4></li>
            <li><a href="{{ url_for('get_recipes') }}">Home</a></li>
            <li><a href="badges.html">Starters</a></li>
            <li><a href="collapsible.html">Brunch</a></li>
            <li><a href="mobile.html">Lunch</a></li>
            <li><a href="mobile.html">Dinner</a></li>
            <li><a href="mobile.html">Desserts</a></li>
            <li><a href="mobile.html"><span class="vegan-color">Vegan</span></a></li>
            <li><a href="mobile.html">By country</a></li>
            <li><a href="mobile.html">Dashboard</a></li>
            {% if session.user_session %}
                <li><a href="mobile.html">Profile</a></li>
                <li><a href="mobile.html">Log Out</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Log in</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>
    </header>

    <section>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row center-align">
                        <h4 class="light-green-text text-darken-2">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <main class="container">
        {% block content %} 
        {% endblock %}
    </main>
  
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
 <script src="{{ url_for('static', filename='js/script.js') }}"></script>
 {% block scripts %}
 {% endblock %}
</body>
</html>