{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m10 offset-m1 flex-col">
            <h3 class="no-bottom-margin flex-self quick-title">Brunch Recipes</h3>
            <!--Recipe search button-->
            <a class="add-filter-btn right-float waves-effect waves-light btn-large" href="{{ url_for('filter_search') }}"><span class="add-filter-title">Search</span> <i class="fas fa-search"></i></a>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m10 offset-m1 flex-col">
            {{ pagination.info }}
            {% if session.user_session %}
                <!--url_for will call the specified function's url which in turn will call the function-->
                <!--Add recipe button-->
                <a href="{{ url_for('add_recipe') }}" class="add-filter-btn waves-effect waves-light btn-large right"><span class="add-filter-title">Add recipe</span> <i class="fas fa-plus"></i></a>
            {% endif %}
        </div>
    </div>
    
    <!--Recipe panel-->
    {% if recipe_page.count() > 0 %}
        {% for recipe in recipe_page %}
            <div class="row">
                <div class="col s12 m10 offset-m1">
                    <div class="card-panel recipe-panel">
                        <div class="col s8">
                            <!--Recipe name-->
                            <p class="no-bottom-margin no-top-margin"><a href="{{ url_for('recipe_page', recipe_id=recipe._id) }}" class="green-text darken-4 bold larger no-top-margin no-bottom-margin">{{ recipe.recipe_name.capitalize() }}</a></p>
                            <div class="recipe-details">
                                <em>uploaded by</em> : {{ recipe.created_by }}
                                <!--Recipe high protein icon-->
                                {% if recipe.is_high_protein == "on" %}
                                    <i class="fas fa-dumbbell fa-sm protein-icon"></i>
                                {% endif %}
                                <!--Recipe vegan icon-->
                                {% if 'Vegan' in recipe.dietary_requirement %}
                                    <i class="fas fa-leaf fa-sm vg-icon"></i>
                                {% endif %}
                                <!--Like button form-->
                                {% if session.user_session %}
                                    <form class="like-form-margin" action="{{ url_for('like_recipe', recipe_id=recipe._id) }}" method="POST">
                                        {% if session_user_id in recipe.user_like %}
                                            <button class="like-btn">
                                                <input type="hidden" class="check-favourite" name="check-favourite" value="true">
                                                <i class="like-icon fas fa-heart"></i>
                                            </button>
                                            <span>{{ recipe.user_likes }}</span>
                                            <!--Comment icon, link and count-->
                                            <a href="{{ url_for('recipe_page', recipe_id=recipe._id) }}#add-comment" class="comment-link"><i class="far fa-comments"></i></a>
                                            <span>{{ recipe.comments_count }}</span>
                                        {% else %}
                                            <button class="like-btn">
                                                <input type="hidden" class="check-favourite" name="check-favourite" value="false">
                                                <i class="like-icon far fa-heart"></i>
                                            </button>
                                            <span>{{ recipe.user_likes }}</span>
                                            <!--Comment icon, link and count-->
                                            <a href="{{ url_for('recipe_page', recipe_id=recipe._id) }}#add-comment" class="comment-link"><i class="far fa-comments"></i></a>
                                            <span>{{ recipe.comments_count }}</span>
                                        {% endif %}
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col s4 center-align">
                            {% if session.user_session|lower == recipe.created_by|lower %}
                                <!--This button will send user to edit this recipe page, through the collection value of this recipe _id, which is added as function's argument  -->
                                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small edit-btn light-green darken-2">Edit</a>

                                <!-- Delete confirmation Modal Trigger -->
                                <a class="red btn-small delete-btn modal-trigger" href="#modal{{ loop.index }}">Delete</a>
                                <!-- Modal Structure -->
                                <div id="modal{{ loop.index }}" class="modal main-background white-text">
                                    <div class="modal-content">
                                    <h4 class="small-modal-text">Are you sure you want to delete <strong>{{ recipe.recipe_name }}</strong>?</h4>
                                    </div>
                                    <div class="modal-footer">
                                    <a class="modal-close waves-effect waves-green btn-small red">Cancel</a>
                                    <!--This button will delete this recipe, through the collection value of this recipe _id, which is added as function's argument  -->
                                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="modal-close waves-effect waves-green btn-small light-green darken-2">Confirm</a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="row">
            <div class="col s12 m10 offset-m1">
                {{ pagination.links }}
            </div>
        </div>

    {% else %}
        <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
    {% endif %}
    
{% endblock %}