{% extends "base.html" %}
{% block content %}

<!--Styles-->
<style>
    #meal-type-chart, #user-chart, #country-chart, #diet-chart {
        width: 100%;
        height: 500px;
    }

    #difficulty-chart {
        width: 100%;
        height: 300px;
    }
</style>

<!--Am charts libraries-->
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<!--Charts code-->
<!-- THE STRUCTURE CODE OF ALL THIS CHARTS WAS TAKEN FROM AMCHARTS, I HAVE 
ONLY INSERTED THE DATA, VALUE AND CATEGORY COMING FROM THE BACK END -->
<!--https://www.amcharts.com/demos/-->
<script>
    /* RECIPES BY MEAL TYPES CHART */
    am4core.ready(function () {

        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        var chart = am4core.create("meal-type-chart", am4charts.PieChart3D);
        chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

        chart.legend = new am4charts.Legend();

        chart.data = {{ meal_types_list|safe }};

        chart.innerRadius = 100;

        var series = chart.series.push(new am4charts.PieSeries3D());
        series.dataFields.value = "amount";
        series.dataFields.category = "meal_type";
        series.labels.template.fontSize = 8;
        series.labels.template.text = "{category}";
    }); // end am4core.ready()

    /* RECIPES BY DIFFICULTY CHART */
    am4core.ready(function() {

        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        var chart = am4core.create("difficulty-chart", am4charts.PieChart);
        chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

        chart.data = {{ difficulties_list|safe }};
        chart.radius = am4core.percent(70);
        chart.innerRadius = am4core.percent(40);
        chart.startAngle = 180;
        chart.endAngle = 360;  

        var series = chart.series.push(new am4charts.PieSeries());
        series.dataFields.value = "amount";
        series.dataFields.category = "difficulty";
        series.labels.template.fontSize = 8;
        series.labels.template.text = "{category}";

        series.slices.template.cornerRadius = 10;
        series.slices.template.innerCornerRadius = 7;
        series.slices.template.draggable = true;
        series.slices.template.inert = true;
        series.alignLabels = false;

        series.hiddenState.properties.startAngle = 90;
        series.hiddenState.properties.endAngle = 90;

        chart.legend = new am4charts.Legend();
    }); // end am4core.ready()

    /* RECIPES BY USER CHART */
    am4core.ready(function() {

        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        var chart = am4core.create("user-chart", am4charts.PieChart3D);
        chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

        chart.legend = new am4charts.Legend();

        chart.data = {{ user_list|safe }};

        var series = chart.series.push(new am4charts.PieSeries3D());
        series.dataFields.value = "amount";
        series.dataFields.category = "user";
        series.alignLabels = false;
        series.labels.template.fontSize = 8;
        series.labels.template.text = "{category}";

    }); // end am4core.ready()

    /* RECIPES BY COUNTRY CHART */
    am4core.ready(function() {

        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        var chart = am4core.create("country-chart", am4charts.XYChart);
        chart.padding(40, 40, 40, 40);

        var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
        categoryAxis.renderer.grid.template.location = 0;
        categoryAxis.dataFields.category = "country";
        categoryAxis.renderer.minGridDistance = 1;
        categoryAxis.renderer.inversed = true;
        categoryAxis.renderer.grid.template.disabled = true;

        var valueAxis = chart.xAxes.push(new am4charts.ValueAxis());
        valueAxis.min = 0;

        var series = chart.series.push(new am4charts.ColumnSeries());
        series.dataFields.categoryY = "country";
        series.dataFields.valueX = "amount";
        series.tooltipText = "{valueX.value}"
        series.columns.template.strokeOpacity = 0;
        series.columns.template.column.cornerRadiusBottomRight = 5;
        series.columns.template.column.cornerRadiusTopRight = 5;

        var labelBullet = series.bullets.push(new am4charts.LabelBullet())
        labelBullet.label.horizontalCenter = "left";
        labelBullet.label.dx = 10;
        labelBullet.label.text = "{values.valueX.workingValue.formatNumber('#')}";
        labelBullet.locationX = 1;

        // as by default columns of the same series are of the same color, we add adapter which takes colors from chart.colors color set
        series.columns.template.adapter.add("fill", function(fill, target){
        return chart.colors.getIndex(target.dataItem.index);
        });

        categoryAxis.sortBySeries = series;
        chart.data = {{ countries_list|safe }};
        console.log(chart.data);

    }); // end am4core.ready()

    /* RECIPES BY DIETARY REQUIREMENTS CHART */
    am4core.ready(function() {

        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        // Create chart instance
        var chart = am4core.create("diet-chart", am4charts.XYChart3D);
        chart.paddingBottom = 30;
        chart.angle = 35;

        // Add data
        chart.data = {{ diet_list|safe }};

        // Create axes
        var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
        categoryAxis.dataFields.category = "dietary_requirement";
        categoryAxis.renderer.grid.template.location = 0;
        categoryAxis.renderer.minGridDistance = 20;
        categoryAxis.renderer.inside = true;
        categoryAxis.renderer.grid.template.disabled = true;

        let labelTemplate = categoryAxis.renderer.labels.template;
        labelTemplate.rotation = -90;
        labelTemplate.horizontalCenter = "left";
        labelTemplate.verticalCenter = "middle";
        labelTemplate.dy = 10; // moves it a bit down;
        labelTemplate.inside = false; // this is done to avoid settings which are not suitable when label is rotated

        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis.renderer.grid.template.disabled = true;

        // Create series
        var series = chart.series.push(new am4charts.ConeSeries());
        series.dataFields.valueY = "amount";
        series.dataFields.categoryX = "dietary_requirement";

        var columnTemplate = series.columns.template;
        columnTemplate.adapter.add("fill", function(fill, target) {
        return chart.colors.getIndex(target.dataItem.index);
        })

        columnTemplate.adapter.add("stroke", function(stroke, target) {
        return chart.colors.getIndex(target.dataItem.index);
        })

    }); // end am4core.ready()
</script>


<!--HTML-->
<div class="row">
    <div class="col s12 center-align">
        <h2>Dashboard</h2>
    </div>
</div>

<!--BY MEAL TYPE CHART-->
<div class="row">
    <div class="col s12">
        <h3 class="center-align bottom-margin">Recipes by Meal Type</h3>
        <div id="meal-type-chart"></div>
    </div>
</div>

<!--BY DIFFICULTY CHART-->
<div class="row lg-margin-top">
    <div class="col s12">
        <h3 class="center-align bottom-margin">Recipes by Difficulty</h3>
        <div id="difficulty-chart"></div>
    </div>
</div>

<!--BY COUNTRY CHART-->
<div class="row lg-margin-top">
    <div class="col s12">
        <h3 class="center-align bottom-margin">Total number of recipes by Country</h3>
        <div id="country-chart"></div>
    </div>
</div>

<!--BY USER CHART-->
<div class="row lg-margin-top">
    <div class="col s12">
        <h3 class="center-align bottom-margin">Recipes by User</h3>
        <div id="user-chart"></div>
    </div>
</div>

<!--BY DIETARY REQUIREMENT CHART-->
<div class="row lg-margin-top">
    <div class="col s12">
        <h3 class="center-align bottom-margin">Total number of recipes by Dietary Requirements</h3>
        <div class="center-align" id="diet-chart"></div>
    </div>
</div>
    
{% endblock %}