<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Cookbook</title>
</head>
<body>
    {% for recipe in recipes %}
        {{ recipe.recipe_name }}<br>
        {{ recipe.meal_type }}<br>
        {{ recipe.difficulty }}<br>
        {{ recipe.prep_time }}<br>
        {{ recipe.calorie_amount }}<br>
        {{ recipe.dietary_requirement }}<br>
        {{ recipe.allergen }}<br>
        {{ recipe.serving }}<br>
        {{ recipe.is_high_protein }}<br>
        {{ recipe.country }}<br>
        {% for ingredient in recipe.ingredients %}
            {{ ingredient }}<br>
        {% endfor %}
        {{ recipe.description }}<br>
    {% endfor %}
    
</body>
</html>