{% extends "base.html" %}
{% block content %}

    <div class="row">
        <!--Recipe title-->
        <div class="col s12 recipe-title center-align">
            <h3>{{ recipe.recipe_name.capitalize() }} {% if 'Vegan' in recipe.dietary_requirement %}<span><i class="fas fa-leaf vg-icon"></i></span>{% endif %}</h3>
            <h6><em>uploaded by:</em> {{ recipe.created_by }}</h6>
        </div>
    </div>

    {% if session.user_session %}
        <div class="row">
            <div class="col s12 recipe-title center-align">
                <!--Like button form-->
                <form class="like-form-margin" action="{{ url_for('like_recipe', recipe_id=recipe._id) }}" method="POST">
                    {% if session_user_id in recipe.user_like %}
                        <button class="like-btn">
                            <input type="hidden" class="check-favourite" name="check-favourite" value="true">
                            <i class="like-icon fas fa-heart"></i>
                        </button>
                        <span>{{ recipe.user_likes }}</span>
                        <!--Comment icon, link and count-->
                        <a href="#add-comment" class="comment-link"><i class="far fa-comments"></i></a>
                        <span>{{ recipe.comments_count }}</span>
                    {% else %}
                        <button class="like-btn">
                            <input type="hidden" class="check-favourite" name="check-favourite" value="false">
                            <i class="like-icon far fa-heart"></i>
                        </button>
                        <span>{{ recipe.user_likes }}</span>
                        <!--Comment icon, link and count-->
                        <a href="#add-comment" class="comment-link"><i class="far fa-comments"></i></a>
                        <span>{{ recipe.comments_count }}</span>
                    {% endif %}
                </form>
            </div>
        </div>
    {% endif %}

    <!--Recipe picture, if exists-->
    {% if recipe.recipe_image_url %}
        <div class="row">
            <div id="img-container" class="col s12">
                <img id="recipe-img" class="recipe-image" src="{{ recipe.recipe_image_url }}" alt="{{ recipe.recipe_image_name }}">
            </div>
        </div>
    {% else %}
    <!--Placeholder image if no images uploaded-->
        <div class="row">
            <div class="col s12">
                <img class="recipe-image" src="{{ url_for('static', filename='images/no-dish-img.png') }}" alt="No Image Uploaded">
            </div>
        </div>  
    {% endif %}

    <!--Recipe description panel-->
    <div class="form-container recipe-container row border-color center-align">
        <div class="row small-margin">
            <!--Meal type-->
            <div class="input-field col s12 m4">
                <h5>Meal type:</h5>
                <h6>{{ recipe.meal_type }}</h6>
            </div>
            <!--Difficulty-->
            <div class="input-field col s12 m4">
                <h5>Difficulty:</h5>
                <h6>{{ recipe.difficulty }}</h6>
            </div>
            <!--Prep time-->
            <div class="input-field col s12 m4">
                <h5>Prep time:</h5>
                <h6>{{ recipe.prep_time }}</h6>
            </div>
        </div>

        <div class="row small-margin">
            <!--Calories-->
            <div class="input-field col s12 m4">
                <h5>Calories:</h5>
                <h6>{{ recipe.calorie_amount }}</h6>
            </div>
            <!--Dietary requirements-->
            <div class="input-field col s12 m4">
                <h5>Dietary requirements:</h5>
                <ul class="recipe-ul"> 
                {% for dietary_requirement in recipe.dietary_requirement %}
                    <li class="recipe-li"><h6>{{ dietary_requirement }}</h6></li>
                {% endfor %}
                </ul>
            </div>
            <!--Allergens-->
            <div class="input-field col s12 m4">
                <h5>Allergens:</h5>
                <ul class="recipe-ul">
                {% for allergen in recipe.allergen %}
                    <li class="recipe-li"><h6>{{ allergen }}</h6></li>
                {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row">
            <!--Country-->
            <div class="input-field col s12 m6">
                <h5>Country:</h5>
                <h6>{{ recipe.country.capitalize() }}</h6>
            </div>
            <!--Servings-->
            <div class="input-field col s12 m6">
                <h5>Servings:</h5>
                <h6>{{ recipe.serving }}</h6>
            </div>
            <!--High protein checkbox-->
            <div class="input-field col s12">
                {% if recipe.is_high_protein == "on" %}
                    <h6>High Protein <i class="fas fa-dumbbell fa-lg"></i></h6>
                {% endif %}
            </div>
        </div>

        <div class="row no-bottom-margin">
            <div class="col s12">
                <h5>Ingredients:</h5>
            </div>
        </div>

        <!--Ingredients-->
        <ul class="recipe-ul">
            {% for ingredient in recipe.ingredient %}
                <li class="recipe-li"><h6><span class="underline">{{ ingredient.ingredient_name.capitalize() }}</span> {{ ingredient.quantity }} {% if 'None' not in ingredient.unit %} {{ ingredient.unit }} {% endif %}</h6></li>
            {% endfor %}
        </ul>   
        

        <div class="row no-bottom-margin">
            <div class="col s12">
                <h5>Method:</h5>
            </div>
        </div>

        <div class="row">
            <!--Method-->
            <div class="input-field col s12 word-wrap">
                {% autoescape false %}
                    {{ recipe.description|replace(".", "<br/>") }}
                {% endautoescape %}
            </div>
        </div>
    </div>

    <!--Add comment form-->
    {% if session.user_session %}
        <div id="add-comment" class="row form-container recipe-container custom-margin main-background white-text">
            <form action="{{ url_for('comments', recipe_id=recipe._id) }}" method="POST" class="col s12">
                <div class="row center-align">
                    <div class="input-field col s12">
                        <i class="far fa-comment prefix light-green-text darken-2"></i>
                        <input style="color: #fff;" type="text" name="comment" id="comment" minlength="3" class="validate" required>
                        <label for="comment"><small class="white-text">Add your comment here</small></label>
                    </div>
                    <div class="col s12">
                        <button type="submit" class="light-green darken-2 btn text-shadow">
                            Add
                        </button>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}

    <!--Comments panels-->
    {% if recipe.comments_count > 0 %}
        <div class="row">
            <div class="col s12 center-align">
                <h4 class="no-top-margin">Comments</h4>
            </div>
        </div>
    {% endif %}
    {% for comment in comments %}
        {% if comment.recipe_id == recipe._id %}
            <div class="row form-container recipe-container bottom-margin main-background">
                <div class="col s12">
                    <p class="no-bottom-margin no-top-margin white-text">{{ comment.comment }} - <br><em>by:</em> {{ comment.user }}
                    {% if comment.user == username %}
                        <a href="{{ url_for('delete_comment', recipe_id=recipe._id, comment_id=comment._id) }}" class="modal-close waves-effect waves-green btn-small right red">Delete</a>
                    {% endif %}
                    </p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    
    <script src="{{ url_for('static', filename='js/wrong_img_url.js') }}"></script>
    
{% endblock %}